/* eslint-disable css/use-baseline */
.ProgressBar {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  min-width: 300px;
  height: 26px;

  & > div {
    padding: 4px 0;
    text-align: center;
    color: white;

    &:nth-child(1) {
      background: #2dc937;
    }
    &:nth-child(2) {
      background: #e7b416;
    }
    &:nth-child(3) {
      background: #cc3232;
    }
    &:nth-child(4) {
      background: #999999;
    }
  }
}
